<header>
    <div class="head fade-in-headers">
        <h1>
            <img src="https://res.cloudinary.com/dzoq2eys2/image/upload/c_fill,h_125,w_198/v1599321936/Free_Sample_By_Wix_e6blgj.jpg"
                alt="Image couldn't be loaded">
        </h1>
    </div>


    <div class="search fade-in-search">
        <i class="material-icons" style="font-size: x-large; margin-right: 10px;">search</i>
        <mat-form-field class="example-form-field" style="width: 500px;">
            <input matInput type="text" style="margin-top: 50px;" placeholder="Search for some clips!"
                (input)="setQuery($event.target.value)" (keydown.enter)="triggerSearch(query)" style="width: 500px;">
        </mat-form-field>

    </div>

    <div class="buttons fade-in-buttons">
        <a [routerLink]="['/results', 'random']"><button mat-flat-button color="accent" style="margin-left: 2%"
                (click)="triggerGetRandom();">I'm Feeling
                Lucky</button></a>
        <a [routerLink]="['/results', query]"><button mat-flat-button color="primary" [disabled]="query == undefined"
                style="margin-left: 2%">Search</button></a>
    </div>

</header>