<header>
    <div class="head fade-in-headers">
        <h1>SASearch</h1>
    </div>



    <div class="search fade-in-search">
        <i class="material-icons" style="font-size: x-large; margin-right: 10px;">search</i>
        <mat-form-field class="example-form-field" style="width: 500px;">
            <!-- <mat-label class="material-icons" style="margin-bottom: 50px;">search</mat-label> -->
            <input matInput type="text" style="margin-top: 50px;" placeholder="Search for some clips!"
                (input)="setQuery($event.target.value)" (keydown.enter)="triggerSearch(query)" style="width: 500px;">
        </mat-form-field>

    </div>

    <div class="buttons fade-in-buttons">
        <a [routerLink]="['/results', 'random']"><button mat-flat-button color="accent" style="margin-left: 2%"
                (click)="triggerGetRandom();">I'm Feeling
                Lucky</button></a>
        <a [routerLink]="['/results', query]"><button mat-flat-button color="primary"
                style="margin-left: 2%">Search</button></a>
    </div>
    <!--  (click)="triggerSearch(query, 'results')" -->

</header>



<!-- <form>
    
    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        <input class="mdl-textfield__input" type="text" id="sample3">
        <label class="mdl-textfield__label" for="sample3">Search</label>
    </div>
</form> -->

<!-- SEARCH ICON -->
<!-- <i class="material-icons">search</i> -->

<!-- ACTUAL SEARCH BAR -->
<!-- Textfield with Floating Label -->

<!-- <form> -->
<!-- <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label"> -->
<!-- <input class="mdl-textfield__input" type="text" id="sample3"> -->
<!-- <label class="mdl-textfield__label" for="sample3">Search</label> -->
<!-- </div> -->
<!-- </form> -->

<!-- SEARCH BUTTON TO BE CLICKED -->
<!-- Flat button with ripple -->


<!-- I'M FEELIN LUCKY -->
<!-- Accent-colored raised button with ripple -->
<!-- <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent"> -->
<!-- I'm Feeling Lucky -->
<!-- </button> -->