@import "src/assets/variables";

// #table-wrapper {
//   position:relative;
// }
// #table-scroll {
//   height: 100%;
//   overflow-y: scroll;  
//   // background-color: blue;
// }

// #table-wrapper table {
//   width:100%; 
// }

// #table-wrapper table * {
//   border :yellow solid 3px;
//   color:black;
// }


// .wrapper {
// border: solid 3px orange;
// display: table;
// height: 100%;
// width: 100%;
// margin: 0;
// padding: 0;
// }

// .main {
//   display: table-row;
//   height: 50%;
//   max-height: 50%;
//   white-space: pre-wrap; 
//   overflow: scroll;
// }

// #table-wrapper {
//   position:relative;
// }
// #table-scroll {
//   overflow:scroll;  
// }

.footer {
  display: table-row;
 border: solid 3px blue;
  height: 10%
}

// .flex-container {
//     display: inline-block;
//     margin-right: 5%;
//     flex-direction: row;
// }

// .main {
// display: table-row;
// height: 70%;
// border: 3px solid blue;
// }

// .footer {
// display: table-row;
// height: 30%;
// border: 3px solid white;
// }


::-webkit-scrollbar {
width: 15px;
height: 15px;
}

::-webkit-scrollbar-track-piece  {
background-color: #232526;
background-color: #444;
background-color: whitesmoke;
}

::-webkit-scrollbar-thumb:vertical {
height: 10px;
background-color: #303030;
background-color: whitesmoke;
background-color: #444;
}