@import "src/assets/variables";


.home {
  position:absolute; 
  bottom: 0; 
  left: 50%; 
  margin-bottom: 20px;
  color: #ff4081;
}

.loading {
  font-family: 'Roboto';
  font: 'Roboto';
}

::-webkit-scrollbar {
width: 15px;
height: 15px;
}

::-webkit-scrollbar-track-piece  {
background-color: #232526;
background-color: #444;
background-color: whitesmoke;
}

::-webkit-scrollbar-thumb:vertical {
height: 10px;
background-color: #303030;
background-color: whitesmoke;
background-color: #444;
}