@import "src/assets/variables";

.header {
   padding: 20px;
}

.button-suite {
    background-color: none;
    color: whitesmoke;
}

button:hover {
    background-color: whitesmoke;
}

.search {
    color: #fff;
    border-color: #ccc;
}

.btn:hover {
    color: #21251C;
    text-decoration: none;
    background-color: whitesmoke;
}

a:hover {
    cursor: pointer;
    color: #ff4081;
}

span:hover {
    color: #ff4081;
}
