@import "src/assets/variables";

.navbar-styling {
    font-family: $bold-font;
    font-weight: $bold-font-weight;
}

.flex-container {
    display: inline-block;
    margin-right: 5%;
    // width: 20%;

    flex-direction: row;
    // flex-wrap: wrap;
}